<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/shampriya/HU-Allocation-Tool--Automation-master/src/test/java/Pages/LoginAsLinker"><classes><class name="Pages.LoginAsLinker.BrowserStarted"><methods><include name="setup"/><include name="linkerLogin"/><include name="Login"/><include name="getNotify"/><include name="preferenceButton"/><include name="Submit"/></methods></class><class name="Pages.LoginAsLinker.ReadingExcel"><methods><include name="readCells"/></methods></class></classes></test></suite>