<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Tests.TestNGListener"></listener>
    </listeners>
    <test
          name="test-1">
        <classes>
            <class name="Tests.Tests">

            </class>
        </classes>
    </test>
</suite>